$container: 520px !default;

$font-sans: 'DM Sans', sans-serif !default;
$font-sm: 0.875rem;
$font-base: 1rem !default;
$font-lg: 1.125rem !default;
$font-xl: 1.5rem !default;
$font-2xl: 1.75rem !default;
