@import 'normalize';
@import 'variables';
@import 'utilities';
@import 'prose';

body {
  padding: 2rem;
  font-family: $font-sans;
  font-size: $font-lg;
  line-height: 1.5;
  color: #fff;
  background: #191b1f;
}

.container {
  max-width: $container;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1.25rem;
}

a {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  border-bottom: dotted 2px;

  &:focus {
    border: none;
    outline: dotted 2px;
  }
}

pre,
code {
  font-family: 'Space Mono', monospace;
}

.site-header {
  margin-bottom: 3rem;

  a {
    font-size: 0;
    font-weight: normal;
    border: none;
  }
}

.page-header {
  margin-bottom: 2rem;
}

.post {
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    border-bottom: none;
    font-weight: normal;
    flex-wrap: wrap;

    > span {
      width: 100%;
    }

    @media all and (min-width: 768px) {
      > span {
        width: auto;
      }
    }
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background: hsla(0, 0%, 100%, 0.03);
  border: none;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 10%);

  svg + span {
    margin-left: 0.5rem;
  }

  span + svg {
    margin-left: 0.5rem;
  }
}

section {
  margin-bottom: 2rem;

  h1 {
    margin-bottom: 1rem;
  }
}
